<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="{% url 'cr' %}">
        {% csrf_token %}
        
        <!-- Employee details -->
        <input type="text" name="name" placeholder="Name" required>
        <input type="text" name="model_name" placeholder="Model Name" required>
        <input type="hidden" name="company" value="{{ request.user.company.id }}">
        
        <button type="submit">Add Device</button>
      </form>
      
</body>
</html>