<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
  <h1>Employee List:{{ request.user.company.name }}</h1>
  
  
      {% for e in em %}
          
          <h3>Name:{{ e.name }}</h3>
          <h3>Eamil:{{ e.email }}</h3>
          <h3>Department:{{ e.department }}</h3>
        
      {% endfor %}
   

 


  
</body>
</html>