<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{request.user.company}}</h1>
    <a href="{%url 'out'%}"><h3 style="color:red">Logout</h3></a>
    <a href="{%url 'allem'%}">All Employee</a>
    <a href="{%url 'adde'%}"><h3 style="color:blue">Add Employee</h3></a>
    <a href="{%url 'cr'%}"><h3 style="color:blue">Add Device</h3></a>
    <a href="{%url 'device_list'%}">All device</a>

    
    
</body>
</html>